<header class="h-24 text-white p-8 flex justify-between items-center" style="background-color: #133301;">
    <h1 class="text-4xl">
        <span class="font-bold">LAB</span><span class="font-extralight">RESERVATION</span>
    </h1>

    <nav class="space-x-40">
        <a href="/dashboard" class="hover:underline text-2xl ml-10">Reserve Seat</a>
        <a href="/reservations" class="hover:underline text-2xl mr-10">Your Reservations</a>
    </nav>

    <div class="flex items-center space-x-4">
        <a href="/profile">
            <img id="headerPfp" src="user.jpg" alt="User" class="w-20 h-20 rounded-full hover:opacity-80 cursor-pointer" />
        </a>
        <a href="/login" title="Logout" class="ml-4">
            <img src="logout.png" alt="Logout" class="w-6 h-6 hover:opacity-80 cursor-pointer" />
        </a>
    </div>
</header>