<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Lab Reservation</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100">
  {{> header}}

  <!-- tab buttons -->
  <div class="flex justify-start mx-25 mt-15 mb-10">
    <div class="flex gap-4 bg-gray-200 rounded-lg">
      <button id="tab-upcoming" class="tab-button bg-white text-black font-semibold px-4 py-1 rounded-full shadow">Upcoming</button>
      <button id="tab-past" class="tab-button text-gray-400 font-semibold px-4 py-1 rounded-full">Past</button>
    </div>
  </div>

  <!-- Tab Contents -->
  <div id="upcoming-tab" class="tab-content"></div>
  <div id="past-tab" class="tab-content hidden"></div>
</body>

<script type="module" src="reservation.js"></script>

